<div class="child-b-container">
    <h3 class="heading"> Child B Component </h3>

    <div class="message-received-from-parent row">
        <div *ngIf="message" class="col-xs-12">
            <b>Parent says:</b> {{message}}
        </div>
        <div *ngIf="message" class="col-xs-12 child-reply-btn">
            <div class="msg-container">
                <label> Send message back </label>
                <input type="text" [(ngModel)]="childBMessage" class="form-control child-b-input">
            </div>
            <div class="btn-container">
                <button class="btn btn-success reply" (click)="reply()">
                    Reply
                </button>
            </div>
        </div>
    </div>
</div>